*{
    margin:0;
    padding:0;
    font-family: 'roboto',sans-serif;
    box-sizing:border-box;
}

html {
    scroll-behavior:smooth;
}

body{
    font-family: Roboto,sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.6;
}

.container{ 
    max-width:1100px;
    margin:10px auto;
    overflow: auto;
    padding: 0 10px;
}

ul{
    list-style-type: none;
}

div{
    position:relative;
}

a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: 700;
    font-size:16px;
}

h1, h2{
    line-height:1.2;
    margin:12px 0px;
}

button {
    cursor: pointer;
}

p{
    margin:10px 0px;
    max-width: 550px;
    line-height: 2em;
    font-size: 24px;
    float:left;
    width:100%;
    z-index:1;
}

img{
    width:100%;
    max-width: 500px;
    z-index:1;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}

input, textarea {
    width: 100%;
    background-color: #242424;
    color: #fff;
    outline: none;
    border: 3px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
}
  
textarea {
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}
  
label {
    font-size: 14px;
    font-weight: bold;
}
  
input:hover, textarea:hover {
    border-color: #dcdfe6;
}
  
input:focus, textarea:focus {
    border-color: #f06449;
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

.title1{
    margin:100px 0px 12px 0px;
}

.orange{
    color:#f06449 !important;
}

.link__hover-effect {
    position: relative;
}
  
.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}
  
.link__hover-effect--white:after {
    background-color: #fff;
}
  
.link__hover-effect--black:after {
    background-color: #242424;
}
  
.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}
  
/* Navbar */ 

.navbar{
    height: 70px;
}
.navbar ul{
    display:flex;
}

.navbar a{
    margin: 0 12px;
    font-weight: 700;
    font-size:16px;
}

.navbar .flex{
    justify-content: space-between;
}

.flex{
    display:flex;
    justify-content:center;
    align-items: center;
}

.logo{
    font-size:40px;
    padding-left:50px;
}

.navlink-button-primary{
    background-color:#f06449;
    padding:8px 20px;
    border-radius:50px;
    color:white;
}

.navlink-button-primary:hover{
    background-color:#d24e01;
}
.navlink-button{
    margin:0 12px;
}

/* Showcase */

.showcase{
    color:rgb(0, 0, 0);
    position:relative;
}

.showcase h1{
    font-size:60px;
}


.wave{
    display: inline-block;
    animation: animate-wave 1000ms infinite ease-in-out;
}

@keyframes animate-wave {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0);
    }
}

.showcase p{
    margin:20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap:30px;
}

.both-titles-and-p{
    float:inline-start;
}

/* .container-2{
    max-width:100%;
    margin:10px auto;
    overflow:auto;
    padding: 0 10px;
} */
.img-me{
    position:relative;
    width:100%;
    height:auto;
    filter: drop-shadow(0px 2px 3px black);
    margin:100px 0 0 30px;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm){
        .img-me{
          position:relative;
          justify-content:first baseline;
          width: 100%;
          height:auto;
          max-width: 500px;
          margin:0 0 100px 30px;
          margin-top:100px;
        }
        /* .container-2{
            max-width:100%;
            margin:10px auto;
            overflow:auto;
            padding: 0 10px;
        } */
        .showcase h1{
            position:absolute;
        }
        .showcase p{
            margin-top:300px;
        }
        .title1{
            margin-top:105px;
        }
        .title2{
            margin-top:190px;
        }

}
/* About Me */

.about{
    max-width: 1500px;
    height: 400px;
    margin:300px 0 0 0;
    text-align:left;
    color:rgb(0, 0, 0);
    line-height: 1.2em;
}

.image2{
    width:100%;
    transform: scale(1);
}
.image-container{
    width:125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .16);
    margin-bottom: 28px;
    animation: animate-profile-picture 800ms 200ms backwards;
}

.image-container2{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.about-me-title{
    font-size:45px;
    text-align: center;
}

.block{
    float:left;
    width:50%;
    margin-top:50px;
}

.about p{
    font-size:15px;
}

.about h2{
    font-size:30px;
    text-align:left;
    justify-content: left;
    line-height: 1.6em;
}

.social{
    color:#f06449;
    padding:10px;
    margin-top:15px;
}   
/* Languages */

.card{
    background-color: #fff;
    color:#333;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
    padding:20px;
    margin:10px;
    width:250px;
    
}

.languages{
    max-width: 1500px;
    height: 400px;
    margin-top:350px;
    color:rgb(0, 0, 0);
    line-height: 1.2em;
    margin-bottom:300px;
}
.languages .card{
    transition: transform 0.2s ease-in;
}

.languages-h1{
    font-size:45px;
    text-align: center;
}

.languages h2{
    text-align:center;
    margin-top:30px;
}

.language-cards{
    display:flex;
    justify-content: center;
    margin-top:50px;
}

.languages .card:hover{
    transform: translateY(-15px);
}

/* contact */

.modal{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width:1100px;
    height:700px;
    border-radius:20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal{
    position: absolute;
    z-index:60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
}

.modal-about,
.modal-contact{
    position: fixed;
}

.modal__half{
    width:50%;
    padding:40px 72px;
    flex-direction:column;
    justify-content:center;
    position:relative;
    transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact
    {
    transform: translateX(0%);
}

.modal__about{
    background-color: rgb(245, 245, 245);
    transform: translateX(-110%);
}

.modal_about img{
    display:block;
    width: auto;
    max-height:700px;
    text-align: center;
}
.modal__contact{
    transform: translateX(110%);
    background-color: #242424;
    color: white;
}

.modal__title {
    font-size: 26px;
}

.modal__subtitle{
    margin:12px 0 24px 0;
    font-size:14px;
}

.form__item{
    margin-top:50px;
    margin-bottom:20px;
}

.form__submit{
    background-color: #f06449;
    border: 2px solid #f06449;
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: #fff;
    background-color: transparent;
}

.form__submit:active {
    border-color: #f06449;
    color: #f06449;
}
    
.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
    
.modal__overlay--loading {
    background-color: #242424;
    font-size: 80px;
}
    
.modal__overlay--success {
    background-color: #4bb543;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
}
    
.modal__overlay--visible {
    z-index: 1;
    display: flex;
}

.fa-spinner {
    animation: spinner 750ms infinite linear;
}
    
@keyframes spinner{
    0% {
    transform: rotate(0);
    }
    
    100% {
    transform: rotate(360deg);
    }
}
    
.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #fff;
    font-size: 36px;
    z-index: 100;
}

/* 

  SHAPES

  shapes on the first row 
  height = 15vh
  
  shapes on the second row 
  height = 50vh
  
  shapes on the third row 
  height = 80vh

  shapes on the first column
  width = 5vw
  
  shapes on the second column
  width = 50vw

  shapes on the third column
  width = 80vw

*/
.shape {
    width:auto;
    z-index:-1000;
    position: fixed;
}

.shape--0 {
    top: 15vh;
    left: 5vw;
}

.shape--1 {
    top: 15vh;
    left: 50vw;
}

.shape--2 {
    top: 15vh;
    left: 80vw;
}

.shape--3 {
    top: 50vh;
    left: 5vw;
}

.shape--4 {
    top: 50vh;
    left: 50vw;
}

.shape--5 {
    top: 50vh;
    left: 80vw;
}

.shape--6 {
    top: 80vh;
    left: 5vw;
}

.shape--7 {
    top: 80vh;
    left: 50vw;
}

.shape--8 {
    top: 80vh;
    left: 80vw;
}
  
/* Footer */

footer{
    position: relative;
    background-color: #242424;
    display:flex;
    padding:6% 0;
}


.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 50px;
}

.footer__logo--img{
    font-size:40px;
    color:#fff;
}

.social-footer{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin:12px 0;
}

.footer__copyright, .social-footer{
    color:#fff;
}

.footer__copyright{
    display:block;
    text-align: center;
}

.social-footer{
    padding:0 20px;
}

.footer__logo--popper {
    position: absolute;
    right: 0;
    top: 16px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
    color: white;
}

.footer__anchor{
    position: relative;
}
  
.footer__anchor:hover .footer__logo--popper {
    transform: translateX(60px);
    opacity: 1;
}

/* desktop, large screens */
@media (max-width: 1200px){
    .about{
        position: relative;
        text-align: center;
    }
    .modal {
        top: 0;
        left: 0;
        transform: none;
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }
    .modal__half {
        width: 100%;
    }
}

@media (max-width: 1100px){
    .showcase h1{
        position:relative;
        font-size:55px;
        text-align: center;
    }
    .title2{
        margin-top:0;
    }
    .showcase p{
        max-width:1200px;
        position:relative;
        text-align: center;
        margin: 0;
    }
    .img-me{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}
/* tablets and under */
@media only screen and (max-width: 768px){
    /* Navbar */
    
    /* showcase */
    .showcase h1{
        position:relative;
        font-size:55px;
        text-align: center;
    }
    .title2{
        margin-top:0;
    }
    .showcase p{
        max-width:1200px;
        position:relative;
        text-align: center;
        margin: 0;
    }
    .img-me{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    /* About me */
    .image-container{
        margin-top:0;
    }
    .about h1{
        font-size:45;
        margin-top:0;
    }
    .about h2{
        text-align:center;
        font-size:28px;
    }
    .about-h1{
        position:relative;
        text-align: center;
    }
    .about p{
        max-width: 1200px;
        position: relative;
        text-align: center;
    }
    .block{
        width:100%;
        margin-top:10%;
        float:center;
        text-align: center;
    }
    
    /* languages */
    .languages{
        margin-top:750px;
    }
    .language-cards{
        display:flex;
        margin: 0 auto;
    }
    /* contact */
    .modal {
        top: 0;
        left: 0;
        transform: none;
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }
    .modal__half {
        width: 100%;
    }
    /* footer */
    .social-footer{
        padding:0 10px;
    }
}

/* phones */
@media (max-width: 500px){
    /* Navbar */
    .logo {
        padding-left:12px;
        font-size:30px;
    }
    .navbar a{
        font-size:15px;
        margin:0;
        margin-right:12px;
    }
    /* about me */
    .image-container{
        margin-top:320px;
    }
    /* languages */
    .languages{
        margin-top:910px;
    }
}
